.displayContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.displayImage {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.qrContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.qrURL {
  font-size: 8vh;
  margin-top: 2vh;
}